body {
    background-color: black;
}

#title {
    font-size: 100px;
    color: white;
    margin-left: 730px;
}

.container {
    height: 650px;
    width: 500px;
    border: 7px solid yellow;
    margin: auto;
    margin-top: 60px;
    background-color: white;
}

#display {
    border: 7px solid green;
    height: 135px;
    margin-bottom: 0px;
    font-size: 100px;
    font-weight: bold;
    text-align: right;
}

button {
    height: 100px;
    width: 122px;
    font-weight: bold;
    font-size: 30px;
}

#zero {
    width: 248px;
}

#multiply, #divide, #add, #subtract, #equals {
    background-color: orange;
}

#clear, #sign, #percent {
    background-color: blue;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #decimal {
    background-color: white;
}

